<!-- 
    <table class="table table-striped" style="width: 920px;">
        <tbody>
            <% @agroups.each do |g| %>
            <tr>
                <th><i class="icon-chevron-right"></i> <%= g.title %></th>
                <td>
                    <% g.allergens.each do |a| %>
                        <input name="allergen" type="checkbox" checked="1" value="<%= a.id %>">&nbsp;<%= a.title %></input>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
-->
