<div class="hero-unit">
  <h3>Благодарности</h3>
  <br />
  <p>
    Проект состоялся благодаря финансовой, эмоциональной и интеллектуальной поддержке моих друзей и знакомых.
    Большое спасибо: <em>Ольге, Надежде, Андрею, Ване, Владимиру, Алексею, Алексею, Елене, Елене</em> и всем остальным, кто принял участие в обсуждениях и предложил свою помощь в создании этого сайта. Было круто!
  </p>
  <br />

  <h3>Пресса</h3>
  <br />
  <p>
  <h5>Большой Город: <a href="http://www.bg.ru/stories/11842/">Чем дышит Москва</a></h5>
  Александр Николаев, программист из Москвы, собрал собственный прибор для измерения количества пыли в воздухе и открыл сайт, на котором автоматически публикуются данные. БГ решил узнать, чем опасны мелкие пылинки, как их сосчитать и где взять денег на подобные проекты
  </p>
  <br />

  <p>
  <h5>Москва24: <a href="http://www.m24.ru/videos/2835">"Утро": сайт о содержании пыли в столичном воздухе</a></h5>
  Московский программист заинтересовался состоянием воздуха в столице. Он собрал с интернет-общественности необходимую сумму и купил прибор, измеряющий состав воздуха. 
  </p>

  <p>
  <h5>Strana.ru: <a href="http://strana.ru/journal/news/21253182">Московская пыль: теперь и на сайте</a></h5>
  Проект изначально задумывался для аллергиков, но при должной поддержке имеет все шансы перерасти в полномасштабную систему мониторинга качества воздуха, которой смогут пользоваться жители столицы.
  </p>
  
</div>

<br />
<br />
<div class="row">
  <div class="span2">
    <img src="/img/alexander_nikolaev.jpg" width="105" height="143" class="img-rounded" alt="Александр Николаев">
  </div>

  <div class="span6">
    <address>
      <strong>Александр Николаев</strong><br />
      email: <a href="mailto:variomap@gmail.com">variomap@gmail.com</a><br />
      тел: +7 (926) 535-04-56<br />
    </address>
  </div>
</div>


