<div class="row">
  <div class="hero-unit">
    <address>
      <i class="icon-user"></i><strong>Александр Николаев</strong><br />
      <a class="btn btn-primary" href="mailto:variomap@gmail.com">Написать письмо</a><br />
    </address>
  </div>
</div>
