<div class="hero-unit">
  <h2>Тут будет рассказ</h2>
  <p>О том, как устроена система и методология измерения количества пыли и дождя.
  О датчиках, железках и софте.</p>
  <p>А пока можно посмотреть <a href="http://habrahabr.ru/post/150807/">статью на хабре</a> и <a href="http://ati.livejournal.com/tag/%D0%B2%D0%BE%D0%B7%D0%B4%D1%83%D1%85">записи в ЖЖ по тэгу "воздух"</a></p>
</div>
