<div class="hero-unit">
  <h3>Тут будет рассказ</h3>
  <p>О том, как устроена система и методология измерения количества пыли и дождя.
  О датчиках, железках и софте.</p>
  <p>А пока можно посмотреть <a href="http://habrahabr.ru/post/150807/">статью на хабре</a> и <a href="http://ati.livejournal.com/tag/%D0%B2%D0%BE%D0%B7%D0%B4%D1%83%D1%85">записи в ЖЖ по тэгу "воздух"</a></p>

  <br />
  <h3>Добрые люди о проекте</h3>
  <p>
  <h5>Большой Город: <a href="http://www.bg.ru/stories/11842/">Чем дышит Москва</a></h5>
  Александр Николаев, программист из Москвы, собрал собственный прибор для измерения количества пыли в воздухе и открыл сайт, на котором автоматически публикуются данные. БГ решил узнать, чем опасны мелкие пылинки, как их сосчитать и где взять денег на подобные проекты
  </p>
  <br />

  <p>
  <h5>Москва24: <a href="http://www.m24.ru/videos/2835">"Утро": сайт о содержании пыли в столичном воздухе</a></h5>
  Московский программист заинтересовался состоянием воздуха в столице. Он собрал с интернет-общественности необходимую сумму и купил прибор, измеряющий состав воздуха. 
  </p>
</div>
