<h1>Как тут всё устроено</h1>
<br />
<div class="row">
  <div class="span9">
Система состоит из трех модулей: измерителя, промежуточного сервера и сервера публикации данных.
Данные с датчиков уровней пыли, дождя, температуры и влажности считываются измерителем на основе arduino.
Для того, чтобы водяная пыль не влияла на результаты измерений, прогоняемый вентилятором воздух при необходимости подогревается керамическим нагревателем. 
Данные в пересылаются через Xbee-линк на домашний сервер. Там они логируются и пересылаются для публикации на cosm.com и сюда, на vozduh.
  </div>
</div>
<br />
<div class="row">
  <div class="row">
    <img src="/img/hardware_scheme.jpg" width="640" height="438" class="img-rounded" alt="блок-схема измерителя пыли">
  </div>
  <div class="row">
    <div class="span1">
      <b>Рис. 1.</b>
    </div>
    <div class="span7">
      <small>Воздух, прогоняемый вентилятором (8) с улицы через трубу (2) проходит через нагревательный элемент (3). Ход воздуха показан стрелочками. Схема управления (5) на базе платформы arduino uno, используя данные датчика влажности (6), управляет нагревателем (3) с помощью силового реле (7)</small>
    </div>
  </div>
</div>

<br />
<br />
<div class="row">
  <div class="row">
    <img src="/img/hardware_internals.jpg" width="640" height="857" class="img-rounded" alt="измеритель внутри">
  </div>
  <div class="row">
    <div class="span1">
      <b>Рис. 2.</b>
    </div>
    <div class="span7">
      <small>Реальное устройство измерителя: сверху вниз -- керамический нагреватель, блок питания с силовым реле управления нагревателем, вентилятор притока наружного воздуха. Справа - arduino с шилдами RS232 и Xbee.</small>
    </div>
  </div>
</div>

<br />
<br />
<div class="row">
  Графики рисуются с помощью библиотеки <a href="http://dygraphs.com/">dygraphs</a> и выводятся сглаженными на 10-минутных интервалах; те, кому любопытны «сырые» данные, могут их увидеть на <a href="/data/dc1100">соответствующей страничке</a>.
  Статистика вычисляется с помощью небольшого скрипта на языке R, напрямую читающего и пишущие данные из базы данных (SQLite). Вычисляются квантили для измерений пыли и тренды в соответствии с линейной моделью. Полный исходный код для всех частей проекта можно посмотреть на <a href="https://github.com/ati/air-quality">гитхабе</a>.
</div>


<br />
<br />
<div class="row">
  <div class="row">
    <img src="/img/hardware_external.jpg" width="640" height="857" class="img-rounded" alt="внешний вид измерителя">
  </div>
  <div class="row">
    <div class="span1">
      <b>Рис. 3.</b>
    </div>
    <div class="span7">
      <small>Внешний вид устройства. На фотографии не показана труба, по которой внутрь измерителя подается воздух с улицы. На уличной трубе установлена крупная сетка, препятствующая попаданию внутрь мотыльков и тополиного пуха</small>
    </div>
  </div>
</div>

<br />
<br />
<div class="row">
  Несколько больше подробностей можно найти в нашей <a href="http://habrahabr.ru/post/150807/">статье на хабре</a>
</div>
