<div class="span6">
  <h4>1. Информер vozduh.msk.ru</h4>
  <a href="http://vozduh.msk.ru/"><img src="http://vozduh.msk.ru/img/informer.png" border="0"></a>
  <br />
  <br />
  Если вы хотите публиковать на своём сайте/страничке в соцсетях текущее состояние воздуха, разместите на ней следующий код:
  <div style="margin: 10px">
    &lt;a href="http://vozduh.msk.ru/"&gt;&lt;img src="http://vozduh.msk.ru/img/informer.png" border="0"&gt;&lt;/a&gt;
  </div>


  <br />
  <br />
  <h4>2. В. Птушенко
    <a href="http://www.nkj.ru/archive/articles/24621/">И только пыль, пыль, пыль...</a></h4>
  <blockquote>В промышленно развитых районах Северной Европы и вблизи крупных европейских городов общее содержание пылевых частиц определяется в основном антропогенными источниками, а в странах Южной и Юго-Восточной Европы — выветриванием почвы (так называемая эрозионная пыль).</blockquote>
</div>
