<h1>Как движется пыль в теле человека</h1>

<br />
<ol>
  <li><a href="#mechanics">Механика дыхания</a></li>
  <li><a href="#air">Путь воздуха</a></li>
  <li><a href="#dust">Путь пыли</a></li>
  <li><a href="#macro">Макрофаги</a></li>
  <li><a href="#links">Ссылки</a></li>
</ol>

<div class="row offset2">
  <img src="/img/texts/way_of_dust/respiration.gif" width="267" height="194" />
</div>

<br />
<a name="mechanics"></a>
<h3>1. Общая механика дыхания</h3>
<div class="row">
  <div class="span7">
Туловище человека состоит из двух половин, разделенных куполообразной мускульной перегородкой - диафрагмой. Верхняя, грудная часть содержит легкие и сердце. Нижняя, брюшная, нам сейчас не интересна. Когда диафрагма выгибается вниз, ребра раздвигаются, в грудной части возникает пониженное давление, благодаря чему в легкие заходит примерно 400 кубических сантиметров воздуха. После расслабления диафрагмы грудная клетка сжимается и воздух выходит наружу. Любопытно, что дыхание -- одна из немногих функций организма, которые могут управляться как сознательно, так и бессознательно.
  </div>
</div>
<br />

<a name="air"></a>
<h3>2. Путь воздуха</h3>
<div class="row">
  <div class="span7">
    Воздух попадает внутрь через нос и рот, которые соединяются в гортани. От гортани, по трубке, укрепленной хрящами -- трахее -- воздух движется вниз, до разветвления на два главных бронха, левого и правого. Левый главный бронх делится на два бронха, правый - на три. Дальше бронхи делятся ещё несколько раз (образуя структуры, которые для нас сейчас не интересны). Когда диаметр веточек становится равным примерно 1 мм, бронхи начинают называться бронхиолями. Особого названия они удостоились из-за качественных отличий в анатомии, о которых речь пойдёт дальше, поскольку они важны для нашей темы. Бронхиоли открываются в альвеолы, пузырьки, в которых происходит главная магия легких: снабжение крови кислородом и удаление из крови углекислого газа и летучих веществ, например ацетона. Легкие человека состоят из примерно 700 миллионов альвеол общей площадью около 100 квадратных метров. Любопытно, что правое легкое содержит больше долей, чем левое, у всех животных, у которых они вообще есть.
  </div>
</div>


<br />
<a name="dust"></a>
<h3>3. Путь пыли</h3>
<div class="row">
  <div class="span7">
    <p>
      Наше тело эффективно уменьшает уровень пыли в атмосфере. Воздух, который выходит из человека, чище воздуха, который в него входит. Есть два главных способа очистки воздуха внутри нас: прилепить её к влажной поверхности и смыть или съесть её макрофагами и потом тоже смыть. Происходит это следующим образом.
    </p>
    <p>
      Если пылинка достаточно большая, чтобы продолжать двигаться по инерции при изменении направления потока воздуха, то есть вероятность, что она врежется в стенки носовых ходов или бронхиальных разветвлений. Достаточно большая в этом случае значит больше 10 мкм -- примерно трети толщины человеческого волоса. Стенки дыхательных путей вплоть до бронхиолей смачиваются слизью, к которой прилипают пылинки. Кроме того, эти поверхности выстланы <a href="http://dic.academic.ru/dic.nsf/dic_biology/3240/%D0%9C%D0%95%D0%A0%D0%A6%D0%90%D0%A2%D0%95%D0%9B%D0%AC%D0%9D%D0%AB%D0%99">мерцательным эпителием</a>, как бы живым ворсистым ковром. По поверхности этого ковра постоянно бегут волны в направлении снизу вверх, от мелких бронхов к гортани. Каждая ворсинка (ресничка) этого ковра движется согласованно с соседними ресничками. В результате слизь с прилипшими пылинками поднимается по трахее, пока не достигает гортани. Там она непроизвольно проглатывается и впоследствии выводится из организма.
    </p>
    <p>
      В бронхиолях, альвеолярных ходах и альвеолах нет ни слизистой оболочки ни движущихся ресничек. Кроме того, в этих участках дыхательной системы воздух движется с очень низкой скоростью, столкновение пыли со стенками тут маловероятно. В этих местах пыль может достичь поверхностей под действием силы тяжести или случайно, в результате броуновского движения. Если пыль дошла до этих мест, то есть один хороший и один плохой способ её оттуда удалить.
    </p>
  </div>
</div>


<br />
<a name="macro"></a>
<h3>4. Макрофаги</h3>
<div class="row">
  <div class="span7">
    <p>
    В 1884 году Илья Ильич Мечников открыл клетки, которые захватывают и переваривают чужеродные частицы. Он назвали их макрофагами. Мелкие пылинки, проникшие в лёгкие и пролетевшие мимо слизистых поверхностей бронхов, улавливаются этими клетками, включаются в их оболочку. Каждый лёгочный макрофаг может поглотить до 100 чужеродных частиц, перед тем как погибнуть и отправиться дорогой предков по волнам мерцательного эпителия. Механизм, с помощью которого макрофаги достигают области действия ресничек, до сих пор мало изучен.
    </p>
    <p>
    Пыль, которая ушла от встречи с чудо-ресничками и макрофагами, попадает в альвеолы, где может инфильтроваться в кровь и начать своё движение по организму человека, проникая во все внутренние органы, в том числе сердце и мозг. Как легко понять, ничего хорошего в этом нет.
    </p>
    <p>
    Кроме того, не вся пыль одинаково полезна для макрофагов. Например, поглотив пылинку, состоящую из двуокиси кремния, привычного и милого нам песка, макрофаг погибает, выливая своё содержимое, токсичное для окружающих клеток. Если этих токсических веществ оказывается много (т.е. если одновременно на небольшой площади погибло много макрофагов), то на этом месте формируется рубец и эта область выключается из процесса очистки воздуха. Развивается силикоз. Аналогичное действие оказывает асбест, железо, бериллий и другие вещества. Общее название для болезней легких, вызываемых пылью -- <a href="http://ru.wikipedia.org/wiki/%D0%9F%D0%BD%D0%B5%D0%B2%D0%BC%D0%BE%D0%BA%D0%BE%D0%BD%D0%B8%D0%BE%D0%B7">пневмокониоз</a>.  
    </p>
  </div>
</div>

<a name="links"></a>
<h3>5. Ссылочки</h3>
<ol>
  <li><a href="http://www.ccohs.ca/oshanswers/chemicals/how_do.html">How Do Particulates Enter the Respiratory System?</a></li>
  <li>Картинка взята из <a href="http://commons.wikimedia.org/wiki/File:Respiration.gif">википедии</a></li>
</ol>

